# project requirements
faiss-cpu
sentence-transformers
openai
fastapi
uvicorn
httpx
requests
langchain
tiktoken
pydantic
transformers
pyperclip
watchdog
typer
pandas
datasets
transformers==4.36.2
python-dotenv>=0.5.1
keyboard
pyautogui
pygetwindow
pyinstaller
chromadb
pinecone>=5.0.0
PyYAML
SQLAlchemy>=2.0
pymysql>=1.0
psycopg2-binary>=2.9